@import url("style.css");

@media screen, projection, tv{
	#main p.publish{
	display:none;
	}
}

#main{
	padding:10px 0;
}
#main h3{
	font-size:1.35em;
	font-style:italic;
	padding:5px 5px 5px 10px;

}
#main h4{
	padding:10px 0 5px 10px;
	font-size:1.2em;
}
#main p{
	padding:5px 15px 5px 20px;
	
	}
#poem {
	width:690px;
	float:left;
	text-align:center;
}
#poem img{
	margin:10px 260px;
}
#main img{
	padding-left:20px;
	padding-bottom:5px;
	float:left;
	
}
#main ul{
	list-style:none;
	font-family:Georgia, "Times New Roman", Serif;
	margin-bottom:10px;
}

#main li{
	padding:5px 0 3px 35px;
}

#sidebar h4{
	padding-top:5px;
	padding-bottom:5px;
}
#sidebar ul{
	float:left;
	padding:5px 0;
}
#sidebar .title{
	font-style:italic;
}
#sidebar p{
	padding:5px 0;
}
	
