/**** Browser Reset ****/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/**** Universal ****/

body{
	background-color:#5D2C2C;
	text-align:center;
	line-height: 1.2em;
	font-family: Georgia, serif;
}

/**** outerWrapper ****/
#outerWrapper{
	width:920px;
	background-color: white;
	overflow:auto;
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
}

/**** Header ****/
#header {
	width:920px;
	float:left;
	margin-top:25px;
}
#header img{
	width:100px;
	float:left;
	padding-left:20px;
}
#header h1{
	width:770px;
	float:left;
	font-family:"great-primer", Georgia, serif;
	font-variant: small-caps;
	font-size: 5em;
	text-align: left;
	vertical-align: middle;
	padding:50px 10px 10px 20px;
}
#header h2{
	width:740px;
	float:right;
	font-family: "great-primer", Georgia, serif;
	text-align:right;
	font-size: 1.2em;
	padding:20px 50px 10px 0;
}

/**** Nav ****/

#nav{
	width:920px;
	float:left;
}
#nav ul{
	list-style-type: none;
}
#nav li{
	padding-bottom: 5px;
	padding-top: 5px;
	width:184px;
	float:left;
	display:block;
	background:#C7C1C1;
}

/**** Content ****/
#content{
	width: 720px;
	float:left;
	margin:10px 100px;
}
#content p{
}

/**** Split ****/
#split{
	width:420px;
	height:40px;
	float:left;
	margin: 0 250px;
	background:#8F8888;
	border-style:solid;
	border-weight:thin;
}
#split h3{
	text-align: center;
	padding:10px 0;
	
}
/**** Nav2 ****/
#nav2{
	width:370px;
	float:left;
	margin: 0 275px;
}
#nav2 h4{
	width: 160px;
	height:160px;
	float:left;
	margin:10px;
	border-style:solid;
	border-width: thin;
}

/**** Footer ****/
#footer{
	width:920px;
	float:left;
	border-top-style:solid;
}
